.test {
    height: 100vh;
    width: 100vw;
    background: rgb(107, 195, 201);
    .test1 {
        background-color: yellow;
        height: 100px;
        width: 100px;
    }
    .test2 {
        background-color: green;
        height: 100px;
        width: 100px;
    }
    .test3 {
        background-color: blue;
    }
}