<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        title 城市插画
    body
        .scene
            .lefttopText
                .blueblock
                h5 A DAY<br>ON THE ISLAND
                h1 Aegean Sea<br>Night Sky
                p cuilei's project
            .allstars
                .star1
                .star2
                .star3
                .star4
                .star5
                .star6
                .star7
                .star8
                .star9
                .star10
                .star11
                .star12
                .star13
                .star14
                .star15
                .star16
                .star17
                .star18
                .star19
                .star20
                .star21
                .star22
                .star23
                .star24
                .star25
                .star26
                .star27
                .star28
                .star29
                .star30
            .building
                .house1
                    .window
                        .circle
                        .circle
                        .circle
                .house2
                    .door
                .house3
                    .wall
                        .window
                    .wall
                        .window
                    .wall
                        .window
                    .roof
                        .rooftop
                            .cross

